
@media screen and (max-width: 991px) {
    .single-row
    {
     flex: 100% !important;
    }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
    .table-overflow
    {
         margin-right: 15px !important;
        margin-left: 15px !important;
    }
    }
    
    @media screen and (min-width: 768px) {
    .width-of-dropdown
    {
       min-width: 16rem !important;
    }
    }
    
    @media screen and (max-width: 767px) {
    .dropdown-toggle mark
    {
        display: none !important;
    }
    .width-of-dropdown
    {
        min-width: 4.7rem !important;
    }
    .table td, .table th
    {
        font-size: 0.7rem !important;
    }
    h6  
    {
        font-size: 0.8rem !important;
    }
    .align-number
    {
            font-size: 14px!important;
    }
    .align-right
    {
            font-size: 12px !important;
    }
    .space, .spacelast
    {
        margin-top: 30px !important;
    }
    }
    
    @media screen and (min-width:361px) {
    .weight br
    {
      display:none;
    }
    }
    
    @media screen and (max-width:575px) {
    .responsive-section
    {
          padding-left: 15px; 
          padding-right: 15px;
    }
    }
    
    @media screen and (max-width: 1200px) {
    .navbar-light
    {
        display: none !important;
    }
    }
    
    @media screen and (min-width: 1201px) {
    .openbtn, .sidenav
    {
        display: none !important;
    }
    }
    
    @media screen and (max-width: 500px) {
    #navigation .weight 
    {
        font-size: 18px !important;
    }
    .ml-auto.toggle {
        margin-left: 1px !important;
    }
    }
    
    @media screen and (max-width:399px) {
    #navigation .weight 
    {
        font-size: 16px !important;
    }
    .ml-auto.toggle {
        margin-left: 1px !important;
    }
    .hide-icon img
    {
        width: 30px !important;
        height: 30px !important;
    }
    .openbtn 
    {
        font-size: 25px !important
    }
    }
    
    